.filter {
	font-size: 18px;
	line-height: 22px;
	font-family: "Gilroy";
	font-weight: bold;
	margin-top: 42px;	

}

.filter-form__caption {
	margin: 0;
	padding: 0;
	font-size: 16px;	
	text-transform: uppercase;	
	padding: 24px 0;	
  background-color: #dcdcdc;	
	padding-left: 39px;
	letter-spacing: 0.15em;
}

.filter-form {
	margin: 0;	
	padding: 0;	
	background-color: #efefef;
	padding-left: 	40px;
}

.filter-form__price {
	margin: 0;	
	padding: 0;	
	padding-top: 81px;	
	position: relative;
}


.filter-form__price::before,
.filter-form__color::before,
.filter-form__bluetooth::before {
	content: "";
	position: absolute;
	width: 200px;
	height: 2px;
	background-color: #000;
	bottom: 32px;
}

.filter-form__color {
	margin: 0;	
	padding: 0;	
	padding-top: 45px;	
	position: relative;
}

.filter-form__color-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 28px;	
}

.filter-form__bluetooth-wrapper {
	display: flex;
	flex-direction: column;
}

.filter-form__bluetooth {
	padding: 0;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 26px;
	position: relative;
}

.filter-form__button {
	margin-top: 25px;
	margin-bottom: 513px;
	letter-spacing: 0.15em;
}