.group-name {
	padding-left: 41px;
	position: relative;
}
.group__header {
	margin: 0;
	padding: 0;
	font-size: 47px;
	line-height: 58px;
	color: #000;
	font-family: "Gilroy";
	font-weight: bold;
	margin-top: 31px;
	letter-spacing: 0.015em;
}

.group__breadcrumbs.breadcrumbs{
	margin-top: 13px;
}

.group-name::after {
	z-index: -1;
	content: "";
	width: 100%;
	height: 70px;
	position: absolute;
	top: 149px;
	left: -18px;
	/*background-color: #555;*/
  background: linear-gradient(to right, #dbdbdb 0%, #dbdbdb 50%, #ebebeb  50%, #ebebeb 100%);
}

.group-name::before {
	z-index: -1;
	content: "";
	width: 100%;
	min-height: 1220px;
	position: absolute;
	top: 219px;
	left: -18px;
	/*background-color: #555;*/
  background: linear-gradient(to right,#ebebeb 50%,#fff 50%);

