.main-nav {
	display: flex;
	flex-direction: row;

}

.navigation-wrapper__column {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: space-between;
}

.main-nav__list {
	position: relative;
	top: -7px;
	padding: 0;
}
