
.modal-menu__wrapper {
	width: 1160px;
	justify-content: left;
	background-color: #f7e296;
	padding-left: 60px;
	padding-top:18px;
	position: absolute;
	left: -60px;
  top: 26px;
	z-index: 3;
	display: flex;
  visibility: hidden;
}


.modal-menu__wrapper:hover,
.catalog-list__item a:hover~.modal-menu__wrapper {
	visibility: visible;

}

.modal-menu__list {
	list-style: none;
	width: 200px;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 33px;
}

.modal-menu__list--1 {
	margin-right: 40px;
}

.modal-menu__item {
	padding-bottom: 10px;
	letter-spacing: 0.05em;
}

.modal-menu__item a {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 30px;
	font-weight: lighter;
	color: #000;
	text-transform: none;
}

.modal-menu__item a:hover {
	opacity: 0.6;
}

.modal-menu__item a:focus {
	opacity: 0.3;
}

