.page-footer {
	background-color: #464646;
	margin-top: 176px;	
}

.inner-page.page-footer {
	margin: 0;	
}

.page-footer__wrapper {
	position: relative;
}

.page-footer__columns {
	display: flex;
	justify-content: space-between;
}

.page-footer__logo {
	margin: 0;	
	padding: 0;	
  width: 260px;
	padding-top: 64px;	
}

.page-footer__list {
	width: 400px;
	margin-top: 65px;	
	padding-right: 0;
}

.page-footer__contacts {
	width: 360px;
	padding-top: 20px;	
}

.page-footer__social {
	width: 440px;
	padding-top: 25px;	
	padding-bottom: 66px;
}

.page-footer__phone {
	width: 360px;
	padding-top: 20px;	
	
}

.page-footer__wrapper::after {
	position: absolute;
	content: "";
	width: 81px;
	height: 7px;
	background-color: #ffc600;
	left: 0px;
	bottom: 84px;
}

.page-footer__academy-logo {
<<<<<<< HEAD
=======
	
>>>>>>> origin/main
	margin-top: 63px;
	display: flex;
	justify-content: right;
}