.site-list {
	margin: 0;
	padding: 0;
	position: relative;
}

.site-list::after {
	position: absolute;
	content: "";
	width: 100px;
	height: 7px;
	background-color: #fff;
	top: 108px;
}


.site-list__item {
	position: relative;
}

.site-list__item a{
	text-transform: uppercase;
	font-family: "Gilroy";
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	color: #000;
}

.site-list__item:nth-child(2) {
	margin-right: 80px;
}

.site-list__item a:hover {
	opacity: 0.6;
}

.site-list__item a:focus {
	opacity: 0.3;
}