.user-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;	
	justify-content: flex-end;
	list-style: none;
	flex-direction: row;
	width: 500px;
}

.user-list__item {
	position: relative;
	text-align: right;
	padding-left: 28px;
}

.user-list__item {
	margin-left: 35px;	*/
} 

.user-list__item--user {
	margin-right: auto;
	margin-left: 0;	
	margin-right: 0;
	/*flex-grow: 2;*/
}

.user-list__item--logout a {
	padding-left: 0;
	margin-left: 20px;
	opacity: 0.3;
}



.user-list__item a {
	font-family: "Open Sans";
	font-weight: lighter;
	font-size: 15px;
	line-height: 36px;
	color: #000;
	
}

.page-footer__list .user-list__item a {
	color: #fff;
} 

.page-footer__list .user-list__item--user {
	margin-left: auto;
	margin-right: 0;
}

.page-footer__list .user-list__item--logout a {
  margin-left: 0;
}

.page-footer__list .user-list__item--logout a {
	opacity: 1;
}

.user-list__item a:hover {
	opacity: 0.6;
}

.user-list__item a:focus {
	opacity: 0.3;
}

.user-list__item a:hover::before {
	opacity: 0.6;
}

.user-list__item a:focus::before {
	opacity: 0.3;
}


.user-list__item a::before {
	position: absolute;
	content: "";
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	top: 12px;
	left: 0;
}

.user-list__item--logout {
	margin-left: 0;
	padding-left: 0;
}
/*.user-list--footer {
	padding-left: 30px;
}

.user-list--footer .user-list__item:nth-child(1) {
	margin-right: 0;
}*/

.user-list__item--user a::before{
	background-image: url("../img/user-icon.svg");
}

.user-list__item--compare a::before{
	background-image: url("../img/compare-icon.svg");
}

.user-list__item--cart a::before{
	background-image: url("../img/cart-icon.svg");
}

.user-list--footer .user-list__item--user a:before {
	background-image: url("../img/user-icon--yellow.svg");
}

.user-list--footer .user-list__item--compare a:before {
	background-image: url("../img/compare-icon--yellow.svg");
}

.user-list--footer .user-list__item--cart a:before {
	background-image: url("../img/cart-icon--yellow.svg");

}

.user-list--footer .user-list__item--logout a:before {
	background-image: url("../img/user-icon--yellow.svg");

}

